In [1]:
# Import Libraries
import os
import numpy as np
import matplotlib.pyplot as plt
from shapely.geometry import Polygon, box
import fiona
import pandas as pd
import geopandas as gpd
import rasterio as rio

In [2]:
# Working directory
work_dir = '/Users/arbailey/natcap/idb/data/work/andros_mangrovehgt'
os.chdir(work_dir)

In [3]:
%time points = gpd.read_file(filename='glihtchm_srtm_hmax95_mangroves3.geojson')

CPU times: user 47min 52s, sys: 46min 32s, total: 1h 34min 24s
Wall time: 2h 28s

In [4]:
points

,z_m,x_utm17n,y_utm17n,srtm_m,srtm_id,hmax95,hmax95_id,gliht_ptid,gmf,wam,gmw2015,tnclandsat,geometry
0,0.0,788785.5,2787858.5,0,21282071,NaN,14210037,1,NaN,NaN,NaN,NaN,POINT (-78.13478 25.17915)
1,0.0,788781.5,2787857.5,0,21282071,NaN,14210036,2,NaN,NaN,NaN,NaN,POINT (-78.13482 25.17914)
2,0.0,788784.5,2787857.5,0,21282071,NaN,14210037,3,NaN,NaN,NaN,NaN,POINT (-78.13479 25.17914)
3,0.0,788776.5,2787856.5,0,21282070,NaN,14210036,4,NaN,NaN,NaN,NaN,POINT (-78.13487 25.17913)
4,0.0,788778.5,2787856.5,0,21282071,NaN,14210036,5,NaN,NaN,NaN,NaN,POINT (-78.13485 25.17913)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58150139,0.0,802646.5,2691223.5,0,43944037,NaN,44267460,58146867,NaN,NaN,NaN,NaN,POINT (-78.01828 24.30487)
58150140,0.0,802641.5,2691222.5,0,43951238,NaN,44267460,58146868,NaN,NaN,NaN,NaN,POINT (-78.01833 24.30486)
58150141,0.0,802644.5,2691221.5,0,43951238,NaN,44267460,58146869,NaN,NaN,NaN,NaN,POINT (-78.01830 24.30485)
58150142,0.0,802646.5,2691220.5,0,43951238,NaN,44267460,58146870,NaN,NaN,NaN,NaN,POINT (-78.01828 24.30484)
58150143,0.0,802650.5,2691218.5,0,43951238,NaN,44267460,58146871,NaN,NaN,NaN,NaN,POINT (-78.01824 24.30482)

In [5]:
# export to Shapefile 
%time points.to_file(filename='glihtchm_srtm_hmax95_mangroves3.shp', driver="ESRI Shapefile")

CPU times: user 1h 49min 52s, sys: 24min, total: 2h 13min 53s
Wall time: 2h 31min 13s

In [6]:
# export to CSV 
%time points.to_file(filename='glihtchm_srtm_hmax95_mangroves3.csv', driver="CSV")

CPU times: user 1h 47min 28s, sys: 14min 20s, total: 2h 1min 49s
Wall time: 2h 12min 23s